* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 767.99px) {
  .card-container {
    display: flex;
    width: 100%;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    border: 1px solid;
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.09);
  }
  .card-container .card-heading {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
  }
  .card-container .card-desc {
    color: var(--Brand-Colors-Grey-grey-400, #5b5b5b);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}
