@media (max-width: 767.99px) {
    .speaking-and-writing {
    display: flex;
    padding: 36px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    background: var(--Brand-Colors-White-white-50, #fefefe);
    z-index: 1;
  }

  .speaking-and-writing .heading-and-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .speaking-and-writing .heading-and-text h2 {
    align-self: stretch;
    color: var(--Brand-Colors-Grey-grey-500, #323232);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
  }
  .speaking-and-writing .heading-and-text p {
    align-self: stretch;
    color: var(--Brand-Colors-Grey-grey-400, #5b5b5b);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  .speaking-and-writing .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 0px;
    column-gap: 20px;
    padding: 0;
  }

  .speaking-and-writing .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -18px;
    align-self: stretch;
    position: relative;
    padding-top: 30px;
  }

  .speaking-and-writing .cards .card .image {
    position: absolute;
    top: -1.125px; /* adjust based on how much overlap you want */
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    overflow: hidden;
    z-index: 1;
  }

  .speaking-and-writing .cards .card .image img {
    /* width: 5.03125vw;
      height: 5.03125vw;
      flex-shrink: 0; */
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .speaking-and-writing .cards .card .image1 img {
    /* width: 4vw;
      height: 5.03125vw;
      flex-shrink: 0; */
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .speaking-and-writing .cards .card .image1 {
    border: 6px solid var(--Secondary-Colors-Burnt-Pink-burnt-pink-50, #f9e9ef);
    background: var(--Secondary-Colors-Burnt-Pink-burnt-pink-100, #ecb9cd);
  }

  .speaking-and-writing .cards .card .image2 {
    border: 6px solid
      var(--Secondary-Colors-Eastern-Blue-eastern-blue-50, #e8f5f6);
    background: var(--Secondary-Colors-Eastern-Blue-eastern-blue-100, #b7dfe3);
  }

  .speaking-and-writing .cards .card .image3 {
    border: 6px solid
      var(--Secondary-Colors-Irish-Coffee-irish-coffee-50, #efeceb);
    background: var(--Secondary-Colors-Irish-Coffee-irish-coffee-100, #cdc4c1);
  }
  /* Add more space above the third card */
  .speaking-and-writing .cards .card:nth-child(3) {
    margin-top: 25px; /* You can adjust this value */
  }

  .speaking-and-writing .cards .card .inner-div {
    display: flex;
    padding: 24px 12px 10px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    align-self: stretch;
    height: 100%;
  }

  .speaking-and-writing .cards .Card1 .inner-div {
    border-radius: 8px;
    border: 1px solid var(--Secondary-Colors-Burnt-Pink-burnt-pink-100, #ecb9cd);
    background: var(--Brand-Colors-White-white-50, #fefefe);
    box-shadow: -4px 0px 10px 0px rgba(249, 233, 239, 0.7),
      4px 4px 10px 0px rgba(249, 233, 239, 0.7);
  }

  .speaking-and-writing .cards .Card2 .inner-div {
    border-radius: 8px;
    border: 1px solid
      var(--Secondary-Colors-Eastern-Blue-eastern-blue-100, #b7dfe3);
    background: var(--Brand-Colors-White-white-50, #fefefe);
    box-shadow: -4px 0px 10px 0px rgba(232, 245, 246, 0.7),
      4px 4px 10px 0px rgba(232, 245, 246, 0.7);
  }

  .speaking-and-writing .cards .Card3 .inner-div {
    border-radius: 8px;
    border: 1px solid
      var(--Secondary-Colors-Irish-Coffee-irish-coffee-100, #cdc4c1);
    background: var(--Brand-Colors-White-white-50, #fefefe);
    box-shadow: -4px 0px 10px 0px rgba(239, 236, 235, 0.7),
      4px 4px 10px 0px rgba(239, 236, 235, 0.7);
  }

  .speaking-and-writing .cards .Card3 {
    grid-column: 1/3;
    width: 50%;
    justify-self: center !important;
  }
  .speaking-and-writing .cards .card .heading-and-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
  }
  .speaking-and-writing .cards .card .heading-and-text .heading {
    align-self: stretch;
    color: var(--Brand-Colors-Grey-grey-400, #5b5b5b);
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
  }

  .speaking-and-writing .cards .card .heading-and-text .text {
    align-self: stretch;
    color: var(--Brand-Colors-Grey-grey-400, #5b5b5b);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
}